.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.mod_service_list {
    overflow: hidden;
    height: 42px;
}
.mod_service_item {
    float: left;
    width: 297px;
}
.mod_service_unit {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}


.mod_service_tit{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    text-indent: -999px;
}
.mod_service_txt {
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}

.mod_service_duo {
    background-repeat: no-repeat;
    background-position: 0 -192px;
    background-image: url(../img/sprite.footer.png);
}
.mod_service_kuai{
	    background-repeat: no-repeat;
    background-position: -41px -192px;
    background-image: url(../img/sprite.footer.png);

}
.mod_service_hao {
    background-repeat: no-repeat;
    background-position: -82px -192px;
    background-image: url(../img/sprite.footer.png);
}
.mod_service_sheng {
    background-repeat: no-repeat;
    background-position: -123px -192px;
    background-image: url(../img/sprite.footer.png);
}
.mod_help {
    padding: 20px 0;
}
.mod_help_inner {
    margin: 0 auto;
    width: 1190px;
}
.mod_help_list {
    overflow: hidden;
    height: 160px;
}
.mod_help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}

.mod_copyright_inner {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    margin: 0 auto;
    width: 1190px;
    font-size: 12px;
}
.mod_copyright_split {
    margin: 0 10px;
    color: #ccc;
} 

.mod_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
.mod_copyright_auth {
    margin: 25px 0;
}
.mod_copyright_auth_ico_2 {
    background-repeat: no-repeat;
    background-position: -205px -111px;
    background-image: url(../img/sprite.footer.png);
}

.mod_copyright_auth_ico {
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
}
.mod_copyright_auth_ico_3 {
    background-repeat: no-repeat;
    background-position: -205px -74px;
    background-image: url(../img/sprite.footer.png);
}
.mod_copyright_auth_ico_4 {
    background-repeat: no-repeat;
    background-position: -205px -37px;
    background-image: url(../img/sprite.footer.png);
}
.mod_copyright_auth_ico_5 {
    background-repeat: no-repeat;
    background-position: -205px 0;
    background-image: url(../img/sprite.footer.png);
}
.mod_copyright_auth_ico_6 {
    background-repeat: no-repeat;
    background-position: 0 -155px;
    background-image: url(../img/sprite.footer.png);
}
.mod_help_cover {
    background-repeat: no-repeat;
    background-position: 0 0;
    float: right;
    width: 200px;
    height: 150px;
    background-image: url(../img/sprite.footer.png);
}

