em,i{
	font-style: normal;
}


#j_list {
	width: 1200px;
	margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 1;
    
}

.gl-warp {

    width: 1190px;
    height: auto;

}

.pic-box{
	width: 250px;
	height: 250px;
	display: block;
}

.pro-list{
	margin-right: 20px;
    width: 250px;
	height: 385px;
	border: 1px solid #ededed;
	float: left;
	margin-top: 15px;
}
.pro-list:hover{
	border: 1px solid rgba(214, 33, 26, 0.6);
}

.price-box span{
	color: #e4393c;
}

.price-box .price{
	font-size: 20px;
}

.pro-list .price-box{
	height: 22px;
	margin-top: 8px;
	padding: 0 10px;
	color: #f00;
	overflow: hidden;
}

.pro-name-box{
	height: 63px;
	padding: 0 10px;
	margin-top: 6px;
}

.pro-name-box .pro-name{
	width: 100%;
	height: 100%;
	white-space: pre-wrap;
	display: block;
	overflow: hidden;
}

.pro-name:hover{
	color: #f00;
	text-decoration: underline;
}

.btn-buy{
	height: 45px;
	line-height: 45px;
	text-align: center;
	padding-top: 8px;
}

.buy-now,.into-cart{
	margin-left: 8px;
	width: 110px;
	height: 30px;
	float: left;
	border: 1px solid rgba(51, 51, 51, 0.4);
	line-height: 30px;
	cursor: pointer;
	background: rgba(220, 220, 220, 0.8);
}


.buy-now:hover,.into-cart:hover{
	border: 1px solid rgba(214, 33, 26, 0.6);
}

.buy-now:hover a,.into-cart:hover a{
	color: #e4393c;
}
